*.iml
*.bak
.DS_Store
.idea
.settings
.project
.classpath
.wakatime-project
dependency-reduced-pom.xml
gwt-unitCache
hs_err*
out
target
js/.DS_Store
js/mbui/
js/mvp/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
