*.iml
*.bak
.DS_Store
.idea
.settings
.project
.classpath
buildNumber.properties
dependency-reduced-pom.xml
gwt-unitCache
hs_err*
out
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target
frontend/playground
frontend/src/chrome
frontend/src/old
backend
