.number-score {
    thead th:first-child, tbody td:first-child, tfoot th:first-child {
        border-right: 1px solid @white;
    }
    tfoot th {
        border-top: 1px solid @white;
    }
}

.player-score {
    thead th:first-child, tbody td:first-child {
        border-right: 1px solid @white;
    }
    thead th:last-child, tbody td:last-child {
        border-left: 1px solid @white;
    }
}
