table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td, th {
    padding: @spacer-1;
    text-align: center;
}

thead {
    th {
        border-bottom: 1px solid @white;
    }
}

.actions-table {
    tbody {
        tr:hover {
            .highlight();

            .actions .fas, .actions .far {
                visibility: visible;
            }
        }

        .actions {
            display: flex;
            justify-content: flex-end;

            .action {
                cursor: pointer;
                padding: 0 @spacer-2;
            }
        }

        .actions .fas, .actions .far {
            visibility: hidden;
        }
    }
}

.selected {
    background-color: fade(@light-red, 25%);
}
