.page-with-chat {
    display: flex;
    margin-left: @spacer-3;

    .chat {
        background-color: fade(@light-grey, 25%);
        display: flex;
        height: 100vh;
        margin-left: @spacer-3;

        .chat-container {
            display: flex;
            flex-direction: column;
            padding-top: @spacer-2;
            width: 500px;
        }

        .chat-disabled {
            align-items: center;
            display: flex;
            font-family: "Roboto Mono", monospace;
            font-size: 0.8rem;
            padding: @spacer-3;

            p {
                margin: 0;
                text-align: center;
            }
        }

        .chat-history {
            margin-bottom: @spacer-2;
            padding-right: @spacer-2;

            .line {
                border-bottom: 1px solid fade(@light-grey, 25%);
                display: block;
                padding-top: @spacer-1;
                padding-bottom: @spacer-1;

                &:after {
                    display: block;
                    clear: both;
                    content: "";
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            .user, .text, time {
                font-family: "Roboto Mono", monospace;
                font-size: 0.8rem;
            }

            .user, time {
                color: @grey;
            }

            .user {
                float: left;
                padding-right: @spacer-2;
            }

            .text {
                display: inherit;
            }

            time {
                float: right;
                font-style: italic;
                padding-left: @spacer-2;
                text-align: right;
            }
        }

        .chat-input {
            background-color: @black;
            border-bottom: 2px solid fade(@light-grey, 25%);
            border-left: 2px solid fade(@light-grey, 25%);
            border-radius: 0;
            border-right: 2px solid fade(@light-grey, 25%);
            border-top: none;
            color: @white;
            font-family: "Roboto Mono", monospace;
            font-size: 0.8rem;
            margin-left: -25px;
            padding: @spacer-2;
        }

        .chat-slider {
            display: flex;
            padding: @spacer-2;

            &:hover {
                background-color: fade(@light-grey, 26%);
            }
        }
    }
}

