.tingle-enabled .tingle-content-wrapper {
    filter: blur(2px);
}

.tingle-modal {
    background-color: rgba(0, 0, 0, 0.33);
}

.tingle-modal-box {
    background-color: @light-grey;

    p {
        color: @black;
    }
}
