table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td, th {
    padding: @spacer-1;
    text-align: center;
}

thead {
    th {
        border-bottom: 1px solid @white;
    }
}

.number-score {
    tfoot th {
        border-top: 1px solid @white;
    }
}

.player-score {
    thead th:first-child, tbody td:first-child {
        border-right: 1px solid @white;
    }
    thead th:last-child, tbody td:last-child {
        border-left: 1px solid @white;
    }
}
