.tooltip {
    position: relative;
}

.tooltip:hover:before {
    border-right-color: @light-grey;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    left: 40px;
    position: absolute;
    top: 7px;
    width: 0;
}

.tooltip:hover:after {
    background-color: @light-grey;
    border-radius: 5px;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: @dark-grey;
    content: attr(data-tooltip);
    display: block;
    font-size: 18px;
    height: 32px;
    left: 56px;
    line-height: 32px;
    padding: 0 5px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
}
