// fonts
@fa-font-path: "webfonts";
@schlawiner-font-path: "webfonts";

// colors
@black: rgb(34, 34, 34);
@dark-grey: rgb(51, 51, 51);
@grey: rgb(153, 153, 153);
@light-grey: rgb(204, 204, 204);
@red: rgb(204, 0, 0);
@white: rgb(236, 236, 236);

// spacing
@spacer: 1rem;
@spacer-0: @spacer * 0;
@spacer-1: @spacer * .25;
@spacer-2: @spacer * .5;
@spacer-3: @spacer;
@spacer-4: @spacer * 1.5;
@spacer-5: @spacer * 3;
